*{
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

.products {
    display: flex;
    width: 1200px;
    margin: 0 auto;     
}

.product {
    flex: 1;
    width: 300px;
    margin: 0px 20px;
}
.product:first-child{
    margin-left: 0;

}
.product:last-child{
    margin-right: 0;

}
img{    
    width: 370px;
}
h2{
    text-align: center;
    font-weight: 300;
}
.fa-star {
    color: orange;
    margin-left: 120px;    
}
p {
    text-align: center;
    color: grey;
}
span{
    color: grey;
    font-weight: 100;
    margin-left: 10px;
}
#red{
    color: red;
}
.fa-heart {
    color: rgb(211, 209, 209);
    margin-left: 20px;
}
p {
    text-align: center;
    margin: 30px;
    /* font family */
}

.btn-black {
    background-color: black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-weight: bold;
    margin-left: 100px;
    border: none;
}

.btn-white {
    background-color: white;
    color: black;
    padding: 8px 23px;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    border: 2px solid black;
}
    


